* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
:root {
    --primary-color: #009f4d;
    --secondary-color: #213364;
    --font-color: #666;
    --bg-color: #fff;
    --heading-color: #3f3a64;
    --border-radius: 8px;
    --border-radius-full: 35px;
    --border-color: transparent;
    --border-color-light: #eee;
    --nav-color: #292922;
    --dropdown-color: #fff;
    --iframe-filter: grayscale(0%);
    --bg-grey: #f7f7f7;
    --bg-lightgrey: #f8f9fa;
    --layer: rgba(29, 42, 55, 0.7);
}

/* Edit by Duy */
[data-theme="dark"] {
    --primary-color: #009f4d;
    --secondary-color: #213364;
    --font-color: #c2c2c2;
    --bg-color: #151421;
    --heading-color: #eee;
    --border-color: rgba(255, 255, 255, 0.2);
    --border-color-light: rgba(255, 255, 255, 0.1);
    --nav-color: #fff;
    --dropdown-color: #121725;
    --iframe-filter: grayscale(100%);
    --bg-grey: #100f19;
    --bg-lightgrey: #100f19;
    --layer: rgba(29, 42, 55, 0.8);
}

body {
    font-family: "Jost", sans-serif;
}

a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
        sans-serif;
    text-decoration: none !important;
    color: inherit;
}
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-weight: 500;
    line-height: 1.2;
}
.main-title {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    margin-bottom: 48px;
}
.sub-title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
}

/* Author: Duy */
/* Desktop */
body a,
button,
.btn {
    cursor: pointer !important;
}

a,
a:hover {
    font-family: "Jost", sans-serif;
    text-decoration: none;
}

:root {
    --border-radius: 8px;
    --layer: rgba(29, 42, 55, 0.7);
}

/* HEADER */
header .container,
.corpBanner .container,
.corpAboutUs .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 576px) {
    header .container,
    .corpBanner .container,
    .corpAboutUs .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    header .container,
    .corpBanner .container,
    .corpAboutUs .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    header .container,
    .corpBanner .container,
    .corpAboutUs .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    header .container,
    .corpBanner .container,
    .corpAboutUs .container {
        max-width: 1140px;
    }
}

header {
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 100px;
    display: flex;
    align-items: center;
    z-index: 10;
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}

header.header-fixed {
    padding: 0px;
    background-color: var(--bg-color);
    height: 80px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

header.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

header .navbar {
    padding: 0;
}

header .navbar h1 {
    margin-bottom: 0;
    font-size: 2rem;
}

header .navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    line-height: 1.2;
}

header.header-fixed .navbar .navbar-brand {
    color: var(--heading-color);
}

header .navbar .navbar-brand i {
    color: var(--primary-color);
    margin-right: 5px;
    vertical-align: bottom;
    width: 30px;
}

header .navbar .navbar-brand .logo {
    text-transform: none;
    display: block;
    font-size: 14px;
    padding-left: 46px;
    font-weight: 600;
    opacity: 0.9;
}

header .corpNavbar__list.navbar-nav {
    margin: 0 auto;
}

header .corpNavbar__list.navbar-nav .nav-item {
    padding: 0 12px;
    transition: all 0.5s ease;
    position: relative;
}

header .corpNavbar__list.navbar-nav .nav-item.dropdown {
    padding-right: 25px;
}
header .corpNavbar__list.navbar-nav .nav-item.dropdown::after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 10px;
    top: 14px;
    display: inline-block;
    font-size: 14px;
    opacity: 0.8;
    color: #fff;
    transition: all 0.5s;
}

header.header-fixed .corpNavbar__list.navbar-nav .nav-item.dropdown::after {
    color: var(--heading-color);
}

header .corpNavbar__list.navbar-nav .nav-item .nav-link {
    transition: all 0.5s ease;
    padding: 14px 0 10px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    opacity: 0.8;
    text-transform: uppercase;
}

header.header-fixed .corpNavbar__list.navbar-nav .nav-item .nav-link {
    color: var(--heading-color);
    opacity: 0.7;
}

header .corpNavbar__list.navbar-nav .nav-item.active .nav-link {
    opacity: 1;
}

header.header-fixed .corpNavbar__list.navbar-nav .nav-item.active .nav-link {
    opacity: 1;
    color: var(--primary-color);
}

header .corpNavbar__list.navbar-nav .dropdown a.dropdown-item {
    display: block;
    width: 100%;
    font-size: 15px;
    color: var(--heading-color);
    background: none;
    opacity: 0.8;
    font-weight: 600;
    padding: 6px 20px;
    text-transform: uppercase;
}

header .corpNavbar__list.navbar-nav .dropdown a.dropdown-item:hover {
    opacity: 1;
}

header .corpNavbar__list.navbar-nav .dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: none;
    min-width: 12rem;
    padding: 1rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

header .corpNavbar__list.navbar-nav .dropdown .dropdown-menu.show {
    display: block;
    float: none;
}

header .corpNavbar__list.navbar-nav .dropdown .dropdown-menu {
    transform: translateX(-50px);
    background: var(--bg-color);
    border: 1px solid var(--border-color-light);
    border-radius: var(--border-radius);
}

header .corpNavbar__list.navbar-nav .dropdown .dropdown-menu::before {
    content: "";
    width: 14px;
    height: 14px;
    background: var(--bg-color);
    border: 1px solid var(--border-color-light);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

header .corpBtn-Search .btn-container {
    margin-right: 1rem !important;
    line-height: 45px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-sizing: border-box;
    background: var(--primary-color);
    outline: 0;
    transform-origin: 50%;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

body.search-active {
    overflow: hidden;
}

body.search-active .corpBtn-Search .btn-container {
    transform: scale(70);
}

header .corpBtn-Search .btn-container i {
    color: #fff;
    transition: opacity 0.3s ease-in-out;
}

body.search-active .corpBtn-Search .btn-container i {
    opacity: 0;
}

header .corpBtn-Search .btn-close {
    visibility: hidden;
    position: absolute;
    color: #fff;
    cursor: pointer;
    font-size: 70px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

body.search-active .corpBtn-Search .btn-close {
    visibility: visible;
    opacity: 1;
    transform: rotate(-90deg);
    display: block;
}

header .corpBtn-Search .search-input {
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -40px;
    pointer-events: none;
    opacity: 0;
    transform: translate(40px, 0);
    transition: all 0.3s ease-in-out;
    width: 88%;
}

body.search-active .search-input {
    opacity: 1;
    transform: none;
    pointer-events: all;
}

header .corpBtn-Search .search-input input {
    color: #fff !important;
    font-size: 54px;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: 0;
    font-weight: 200;
    height: 100vh;
    width: 100%;
}

header .corpBtn-Search .search-input input::placeholder {
    color: #fff !important;
}

header .corpMode-container label.theme-switch {
    margin: 0;
}

header .corpMode-container .theme-switch-wrapper {
    display: flex;
    align-items: center;
    width: 24px;
}

header .gg-sun {
    position: relative;
    transform: scale(var(--ggs, 1));
    height: 24px;
    background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px,
        linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px,
        linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px,
        linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent;
}

header .gg-sun,
header .gg-sun:after,
header .gg-sun:before {
    box-sizing: border-box;
    display: block;
    width: 24px;
    color: #eee;
}

header .gg-sun:after,
header .gg-sun:before {
    content: "";
    position: absolute;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px;
}

header .gg-sun:before {
    transform: rotate(-45deg);
}

header .gg-sun:after {
    transform: rotate(45deg);
}

header .gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom: 2px solid transparent;
}

header .gg-moon:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px;
}

header .gg-moon,
header .gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
    color: #eee;
}

header .theme-switch input {
    display: none;
}

header .mode-container i.gg-sun {
    display: none;
}

input:checked + .mode-container i.gg-sun {
    display: block;
}

input:checked + .mode-container i.gg-moon {
    display: none;
}

header.header-fixed .mode-container i,
header.header-fixed .mode-container i::after {
    color: var(--heading-color);
    opacity: 0.9;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all 0.5s;
}

header button.navbar-toggler.collapsed .icon-expand {
    display: block;
}

header button.navbar-toggler.collapsed .icon-close {
    display: none;
}

header button.navbar-toggler .icon-expand {
    display: none;
}

header button.navbar-toggler .icon-close {
    display: block;
}

header .navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

header.active {
    background: rgba(0, 0, 0, 0.7);
}

.noscroll {
    min-height: 100vh;
    overflow: hidden;
}

/* END OF HEADER */

/* BANNER */
/* Author: Duy */
.corpBanner {
    position: relative;
    height: auto;
    width: 100%;
}
.corpBanner .banner-slider {
    position: relative;
    height: 100%;
    width: 100%;
}

.corpBanner .slide-item {
    position: relative;
    min-height: 800px;
    width: 100%;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    padding: 3em 0;
}

.corpBanner .bg1,
.corpBanner .bg2,
.corpBanner .bg3,
.corpBanner .bg4 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top !important;
}

.corpBanner .bg1 {
    /* background-color: #009f4d; */
    background: url(../../img/b1.jpg);
}

.corpBanner .bg2 {
    /* background-color: purple; */
    background: url(../../img/b2.jpg);
}

.corpBanner .bg3 {
    /* background-color: red; */
    background: url(../../img/b3.jpg);
}

.corpBanner .bg4 {
    /* background-color: blue; */
    background: url(../../img/b4.jpg);
}

.corpBanner .slick-prev.slick-arrow,
.corpBanner .slick-next.slick-arrow {
    position: absolute;
    right: 25px;
    bottom: 50px;
    font-size: 0;
    background: var(--bg-color);
    border: 0;
    width: 50px;
    height: 50px;
    z-index: 12;
    outline: none;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 0 15px rgb(0 0 0 / 12%);
    border: 1px solid var(--border-color);
}

.corpBanner .slick-arrow.slick-prev:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f060";
}

.corpBanner .slick-arrow.slick-next:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f061";
}

.corpBanner .slick-arrow:before {
    font-size: 16px;
    text-align: center;
    line-height: 46px;
    /* color: var(--heading-color); */
    color: #3f3a64;
}

.corpBanner .slick-prev.slick-arrow {
    right: 95px;
}

.corpBanner .slide-item .overlay {
    background: var(--layer);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.corpBanner .slide-item .item-content {
    z-index: 2;
    color: #fff;
}

.corpBanner .slide-item .item-content h1 {
    font-size: 65px;
    line-height: 1.1;
    color: rgb(255, 255, 255);
    max-width: 800px;
    font-weight: 600;
}

.corpBanner .slide-item .item-content p {
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
    color: #fff;
    letter-spacing: 0.01em;
    opacity: 0.9;
    margin-top: 1.5rem !important;
}

.corpBanner .item-content .btn-container {
    padding-top: 30px;
}

.corpBanner .item-content a.btn-style {
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    border-radius: var(--border-radius);
}

.corpBanner .btn-primary {
    color: #fff;
    background-color: #00a63f;
    border-color: #00a63f;
}

.corpBanner .btn-primary:hover {
    background-color: #008030;
    border-color: #00732c;
}

.corpBanner .btn-primary:active {
    background-color: #00732c;
    border-color: #006627;
}

.corpBanner .btn-primary:focus {
    background-color: #008030;
    border-color: #00732c;
    box-shadow: 0 0 0 0.2rem rgb(38 179 92 / 50%);
}

.corpBanner .banner-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.corpBanner .banner-wave svg {
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
}

.corpBanner .banner-wave path {
    fill: var(--bg-color);
}

.corpBanner .slick-current.slick-active .item-content > * {
    animation-duration: 1s;
}
/* END OF BANNER */

/* ABOUT US */
.corpAboutUs {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.corpAboutUs li {
    list-style-type: none;
}

.corpAboutUs .content-left .small-title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}

.corpAboutUs .content-left .big-title {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}

.corpAboutUs .content-left p {
    margin-top: 1rem !important;
    font-size: 17px;
    line-height: 27px;
    color: var(--font-color);
    opacity: 0.8;
    font-family: "Jost", sans-serif;
}

.corpAboutUs .content-left ul {
    padding-top: 0.5rem !important;
}
.corpAboutUs .content-left ul li {
    margin-bottom: 15px;
}

.corpAboutUs .content-left ul a {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: var(--heading-color);
}

.corpAboutUs .content-left ul a i {
    color: var(--primary-color);
    margin-right: 5px;
    opacity: 0.8;
}

.corpAboutUs .content-right .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

.corpAboutUs .content-right .image-right {
    margin-top: 1.5rem !important;
}

.corpAboutUs .content-right .image-right img:first-child {
    margin-bottom: 1rem !important;
}

.corpAboutUs .content-right .image-right img:last-child {
    margin-top: 1rem !important;
}

/* END ABOUT US */

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes flipInX {
    0% {
        transform: perspective(400px) rotateX(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotateX(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotateX(10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotateX(-5deg);
    }
    100% {
        transform: perspective(400px);
    }
}
/* Responsive phần Header, Banner, About Us */
/* Author: Duy */
@media only screen and (max-width: 1440px) {
    header .corpNavbar__list.navbar-nav .nav-item {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 1200px) {
    header .navbar .navbar-brand {
        font-size: 32px;
    }

    header .navbar .navbar-brand i {
        font-size: 32px;
        width: 32px;
    }

    .corpBanner .slide-item .item-content h1 {
        font-size: 55px;
    }

    .corpAboutUs .content-left .big-title {
        font-size: 32px !important;
        line-height: 40px;
    }
}

@media only screen and (max-width: 992px) {
    /* HEADER */
    header.corpHeader {
        height: auto;
        padding: 20px 0;
    }

    header .navbar-toggler-icon.fa {
        font-size: 20px;
        color: #fff;
        line-height: 34px;
        padding: 0;
        width: 34px;
        height: 34px;
        background: var(--primary-color);
        border-radius: 4px;
        text-align: center;
    }

    header .navbar-toggler {
        border: 0 none;
        font-size: 24px;
        padding: 0rem 0rem !important;
    }

    header .corpBtn-Search {
        position: absolute;
        right: 65px;
        top: 10px;
    }

    header .corpMode-container {
        position: absolute;
        right: 44px;
        top: 18px;
    }

    header .corpBtn-Search .btn-container {
        line-height: 40px;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 14px;
    }

    header .corpNavbar__list.navbar-nav {
        padding: 20px 0 0px;
    }

    header .corpNavbar__list.navbar-nav .nav-item .nav-link {
        display: block;
        padding: 6px 0;
        text-align: center;
    }

    /* BANNER */
    .corpBanner .slide-item .item-content h1 {
        font-size: 50px;
    }

    .corpBanner .slide-item {
        min-height: 700px;
    }
}

@media screen and (max-width: 768px) {
    /* BANNER */
    .corpBanner .slide-item .item-content h1 {
        font-size: 45px;
    }

    .corpBanner .slide-item .item-content p {
        font-size: 18px;
        line-height: 28px;
    }

    .corpBanner .slide-item {
        min-height: 650px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 576px) {
    .corpBanner .slide-item .item-content h1 {
        font-size: 40px;
    }
    .corpBanner .slide-item {
        min-height: 600px;
        padding-bottom: 0px;
    }
    .corpAboutUs .content-left .big-title {
        font-size: 30px !important;
        line-height: 38px;
    }
}

/* PHẦN Testimonical*/
.testimonical {
    text-align: center;
    background: var(--bg-lightgrey);
}
.carousel-content {
    padding: 40px 30px;
    margin: 0 135px;
    width: initial;
}
.carousel-content > p {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    opacity: 0.8;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
        sans-serif;
}
.testimonical .reviewer {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    text-align: left;
    grid-gap: 20px;
}
.testimonical .reviewer-img {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: var(--bg-color);
    border-radius: 50%;
}
.reviewer-img img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}
.reviewer h3 {
    font-size: 20px;
    margin-bottom: 0;
}
.reviewer p {
    margin-bottom: 0;
    opacity: 0.8;
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 27px;
    color: var(--font-color);
    opacity: 0.8;
}
.reviewer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carousel-indicators {
    margin-top: 30px;
    bottom: -140px;
    align-items: center;
    position: initial;
}
.carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--secondary-color);
    margin: 1px 6px;
    transition: 0.3s;
}
.carousel-indicators li.active,
.carousel-indicators li:hover {
    transform: scale(1.5);
}

/* PHẦN Blogs */

.blogs {
    text-align: center;
    padding: 48px 0;
    background: var(--bg-color);
}
.blogs .container {
    padding: 48px 15px;
}
.blogs .card {
    border-radius: 6px;
    border: 1px solid var(--border-color);
    text-align: left;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 4%);
    height: 100%;
    background: var(--bg-color);
}
.card > a {
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.card > a img {
    transition: 0.3s ease-in-out;
}
.card > a:hover img {
    transition: 0.3s ease-in-out;
}
.card > a:hover img {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.card-footer {
    display: flex;
    padding: 12px 20px;
    justify-content: space-between;
    font-size: 15px;
    line-height: 40px;
    background-color: transparent;
}
.card-footer > a {
    overflow: hidden;
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 12px;
}
.card-footer > a img {
    max-width: 100%;
    height: auto;
}
/* .card-deck .card{
    padding: 0;
    text-align: left;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 4%);
    border: 1px solid var(--border-color);
} */
.card-body h5 {
    font-weight: 400;
    font-size: 17px;
    color: #999;
}
.card-body a {
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: var(--heading-color);
    margin-top: 10px;
    text-decoration: none;
}
.card-body a:hover,
.card-footer a:hover {
    color: var(--primary-color);
}
.card-footer a {
    font-size: 16px;
    color: var(--heading-color);
    font-weight: 600;
    line-height: 26px;
    text-decoration: none;
}
.card-footer p {
    font-size: 15px;
    color: var(--font-color);
    opacity: 0.8;
}
.footerGrow {
    flex-grow: 1;
}

/* PHẦN SUBSCRIBE */
.subscribe {
    text-align: center;
    padding: 48px 0;
    background-image: url(../img/map.png);
    background-color: #151421;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.subscribe_cover {
    max-width: 700px;
    margin: 0 auto;
}
.subscribe h3 {
    margin-bottom: 16px;
    color: #fff;
}
.subscribe p {
    font-size: 17px;
    color: #eee;
    line-height: 27px;
    opacity: 0.8;
}
.input-group {
    padding: 48px 75px;
}
.input-group-lg > .input-group-prepend > .input-group-text {
    /* padding: 0 15px; */
    font-size: inherit;
    text-rendering: auto;
}
.input-group-text::before {
    content: "\f1d8";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
}
.subscribe .input-group input.form-control {
    padding: 14px 20px;
    font-size: 16px;
    line-height: 28px;
    border: 1px solid var(--border-color-light);
    background: var(--bg-color);
    border-radius: 0;
    color: #999;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.15);
    border-left: none;
    box-shadow: none;
}
.subscribe .input-group .input-group-prepend .input-group-text {
    color: #999;
    background-color: rgba(0, 0, 0, 0.25);
    border-color: rgba(255, 255, 255, 0.15);
    padding: 0 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group .btn.btn-style {
    border-radius: 0 8px 8px 0;
    padding: 0 25px;
    font-size: 16px;
    line-height: 18px;
    background-color: var(--primary-color);
    border-color: #00732c;
    font-weight: 600;
}
.input-group-prepend,
.input-group-lg input.form-control {
    height: 58px;
}

/* PHẦN FOOTER */
footer {
    background: #151421;
    font-size: 18px;
    line-height: 28px;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
    color: #97a1a9;
}
.footer-item1 .footer-logo {
    display: flex;
}
.logo-icon {
    color: var(--primary-color);
    font-size: 30px;
    padding-right: 12px;
}
.logo-text h3 {
    font-size: 30px;
    line-height: 28px;
    margin: 0;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}
.logo-text p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.9;
    line-height: 28px;
    color: #fff;
}
.item1-link a {
    padding-right: 15px;
    opacity: 0.8;
}
.item1-link a:hover {
    transition: all 0.3s;
    color: #fff;
    opacity: 1;
}
/* footer-contact */
footer h2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    position: relative;
    color: #fff;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
footer li {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 8px;
    list-style: none;
    transition: all 0.3s;
    /* opacity: .8; */
}
footer li a:hover {
    color: #fff;
    opacity: 1;
    transition: all 0.3s;
}
/* Phần Copyright  */
.copyright {
    padding: 24px;
    text-align: center;
    background: #151421;
    font-size: 17px;
    line-height: 28px;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
    color: #7f8a94;
    letter-spacing: 0.5px;
    opacity: 1;
}
.copyright a {
    color: var(--primary-color);
}
.copyright a:hover {
    color: #fff;
}

/* Nút Back to Top  */
#toTop {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-weight: 900;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}
#toTop svg {
    transform: rotateY(-180deg) scale(2, 1);
}

/* PHẦN REPONSIVE */
/* Phần large desktops--xl */
@media screen and (max-width: 1200px) {
    /* hết Phần large desktops */
}
/* Phần desktops---lg*/
@media screen and (max-width: 992px) {
    .main-title {
        font-size: 32px !important;
        line-height: 40px;
    }
    .carousel-content {
        padding: 30px 20px;
        margin: 0 15px;
    }
    .input-group {
        padding: 48px 70px;
    }

    /* hết Phần desktops */
}
/* Phần tablets--md*/
@media screen and (max-width: 768px) {
    .main-title {
        font-size: 30px !important;
        line-height: 38px;
    }
    .carousel-content {
        padding: 30px 20px;
        margin: 0 0px;
    }
    .input-group {
        padding: 48px 0px;
    }

    /* hết Phần tablets */
}
/* Phần landscape phones --sm*/
@media screen and (max-width: 576px) {
    .main-title {
        font-size: 24px !important;
        line-height: 24px;
    }
    .carousel-content {
        padding: 20px 0px;
        margin: 0 0px;
    }
    .input-group {
        padding: 48px 0px;
    }
    /* hết Phần landscape phones */
}
